#header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 80px;
  background-color: #1f43ad;
  box-shadow: 0 2px 5px rgb(42, 82, 190);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

.logo {
  width: 120px;
  height: auto;
  margin: 0;
  padding: 0;
  display: block;
  border-radius: 4px;
}

#navigator_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  list-style: none;
  padding: 0;
  margin: 0;
}

#navigator_bar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navigator_bar a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

#navigator_bar li a:hover,
#navigator_bar li a.tab {
  background-color: #ddd;
}

#navigator_bar li a.tab::after {
  content: none;
  width: 30%;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: -4px;
  left: 50%;
} 